<div id="starting-div" class="row">
  <h4>Copy this into the body of your pages:</h4>
      <pre class="Source">
&lt;script src=&quot;http://quinstantly.com/webtab.js&quot;&gt;
      </pre>
  <h4>or pull this <a>library</a> into your iPhone code</h4>
</div>
