<div id="menu-dashboard">
  <ul class="nav nav-pills nav-justified">
    <li id="pill-now"><a>Now</a></li>
    <li id="pill-trends"><a>Trends</a></li>
  </ul>
</div>

<!-- DASHBOARD-NOW -->
<div id="panel-now" class="panel dashboard-menu-panel col-md-12">
  <ol id="statistics-now">
    <li count="7">Current Customers Online</li>
    <li count="3">Current Customers in Queue</li>
    <li count="4">Current Conversation Count</li>
    <li count="2">Total Missed Conversations Today</li>
    <li count="11">Agents Online Today</li>
    <li count="17">Total Agents</li>
    <li count="64">Total Conversations Today</li>
    <li count="11">Avg Wait Time Today (seconds)</li>
    <li count="94">Avg Session Duration Today (seconds)</li>
  </ol>
</div>

<!-- DASHBOARD-TRENDS -->
<div id="panel-trends" class="panel dashboard-menu-panel col-md-12">
  Graphs go here.
</div>
