<div id="signup">
  <div class="col-md-offset-3 col-md-6">
    <div class="row">
      <input id="email-new" type="text" placeholder="Email"/>
    </div>
    <div class="row passwords">
      <input id="password-new" type="password" placeholder="Password"/>
    </div>
    <div class="row passwords">
      <input id="password-confirm" type="password" placeholder="Password"/>
    </div>
    <div class="row" id="signup-button-div">
      <button class="btn btn-large btn-primary" id="signup-button" disabled="disabled">
        SIGN UP
      </button>
    </div>
    <div class="row the-big-or">
      OR
    </div>
    <div class="row">
      <button class="btn btn-large btn-primary" id="show-signin-button">
        SIGN IN
      </button>
    </div>
    <div class="row" id="signup-spinner">
      <i class="icon-spinner icon-spin icon-large col-md-offset-6 col-md-3"></i>
    </div>
  </div>
</div>
