<div id="signin">
  <div class="col-md-offset-3 col-md-6">
    <div class="row">
      <input id="email" type="text" placeholder="Email"/>
    </div>
    <div class="row passwords" id="password-div">
      <input id="password" type="password" placeholder="Password"/>
    </div>
    <div class="row" id="signin-button-div">
      <button class="btn btn-large btn-primary" id="signin-button" disabled="disabled">
        SIGN IN
      </button>
    </div>
    <div class="row the-big-or">
      OR
    </div>
    <div class="row">
      <button class="btn btn-large btn-primary" id="show-signup-button">
        SIGN UP
      </button>
    </div>
    <div class="row" id="signin-spinner">
      <i class="icon-spinner icon-spin icon-large"></i>
    </div>
  </div>
</div>
