<!DOCTYPE html>
<html lang="en">
<title>Quinstantly</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <script src="/assets/bootstrap.min.js"></script>
  <link href="/assets/font-awesome-3.2.1.css" rel="stylesheet">
  <div id="header">
    <div class="row">
      <hgroup>
        <h1>Quinstantly!</h1>
      </hgroup>
      <a class="col-lg-1 col-offset-11" id="login_link" href="">Log In!</a>
    </div>
  </div>
</head>
<body>
<div id="tenant-main">
  <div id="login">
    <div class="row">
      <input id="email" class="col-lg-4 col-offset-4" type="text" placeholder="Enter your email address"/>
    </div>
    <div class="row" id="email-spinner">
      <i class="icon-spinner icon-spin icon-large"></i>
    </div>
    <div class="row passwords" id="password-div">
      <input id="password" class="col-lg-4 col-offset-4" type="password" placeholder="Enter a password"/>
    </div>
    <div id="password-confirm-div">
      <div class="row passwords">
        <input id="password1" class="col-lg-4 col-offset-4" type="password" placeholder="Enter a password"/>
      </div>
      <div class="row passwords">
        <input id="password2" class="col-lg-4 col-offset-4" type="password" placeholder="Enter your password again"/>
      </div>
    </div>
    <div class="row" id="signup-button">
      <button class="col-lg-4 col-offset-4 btn btn-large btn-primary">
        LET'S GO!
      </button>
    </div>
    <div class="row" id="signup-spinner">
      <i class="icon-spinner icon-spin icon-large"></i>
    </div>
  </div>
</div>
<div id="#main">

</div>
<div id="#profile">

</div>
</body>
</html>