<!DOCTYPE html>
<html lang="en">
<title>Quinstantly!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link href='http://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css'>
  <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>-->
</head>

<body>
<div id="tenant-main">

<div class="row">

  <!-- LEFT SIDEBAR -->
  <div class="col-md-2">
    <div id="left-sidebar" class="panel">
      <h1 class="rotate">ReplyStyle</h1>
    </div>
  </div>

  <div id="middle-column" class="col-md-8">

    <!-- SEARCH -->
    <div class="row">
      <div id="search" class="col-md-offset-2 col-md-8">
        <form id="searchbox" action="">
          <input id="search" type="text" placeholder="Type here">
          <input id="submit" type="submit" value="Search">
        </form>
      </div>

    <!-- MENU -->
      <div id="menu-main" class="col-md-12">
        <ul class="nav nav-pills nav-justified">
          <li id="pill-questions"><a>Questions</a></li>
          <li id="pill-profile"><a>Profile</a></li>
          <li id="pill-users"><a>Users</a></li>
          <li id="pill-dashboard"><a>Dashboard</a></li>
          <li id="pill-settings"><a>Settings</a></li>
        </ul>
      </div>
    </div>

    <!-- QUESTIONS -->
    <div>
      <div id="panel-questions" class="panel menu-panel">
        <table class="table-condensed">
          <tbody id="conversations-body">
          <% @conversations.each do |conv| %>
              <%= render :partial => 'conversation', locals: {sample: false, conv: conv} %>
          <% end %>
          <%= render :partial => 'conversation', locals: {sample: true} %>
          <%= render :partial => 'message', locals: {sample: true} %>
          </tbody>
        </table>
      </div>

      <!-- PROFILE -->
      <div id="panel-profile" class="panel menu-panel">
        <span id="profile-submit-result" class="help-block"></span>

        <form id="profile-form" class="form-horizontal" role="form">
          <fieldset>

            <!-- Text input-->
            <div id="profile-name-div" class="form-group">
              <label for="name" class="col-md-3 control-label">Display Name</label>

              <div class="col-md-7">
                <input id="profile-name" name="name" type="text" placeholder="Name" class="form-control input-sm" required="true">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label for="email" class="col-md-3 control-label">Email</label>

              <div class="col-md-7">
                <input id="profile-email" name="email" type="email" placeholder="Email" class="form-control input-sm" required="true">
              </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
              <label for="upload" class="col-md-3 control-label">Avatar</label>

              <div class="col-md-7">
                <input id="profile-upload" name="upload" class="input-file" type="file">
              </div>
            </div>

            <!--&lt;!&ndash; Textarea &ndash;&gt;-->
            <!--<div class="form-group">-->
            <!--<label for="desc" class="col-md-3 control-label">About You</label>-->
            <!--<div class="col-md-7">-->
            <!--<textarea class="form-control" rows="3" id="profile-desc" name="desc">Who are you?</textarea>-->
            <!--</div>-->
            <!--</div>-->

            <!-- Password input-->
            <div class="form-group">
              <label for="password" class="col-md-3 control-label">Password</label>

              <div class="col-md-7">
                <input id="profile-password" name="password" type="password" placeholder="Old Password" class="form-control">
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label for="newpassword" class="col-md-3 control-label">New Password</label>

              <div class="col-md-7">
                <input id="profile-newpassword" name="newpassword" type="password" placeholder="New Password" class="form-control">
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label for="newpasswordconfirm" class="col-md-3 control-label">New Password</label>

              <div class="col-md-7">
                <input id="profile-newpasswordconfirm" name="newpasswordconfirm" type="password" placeholder="New Password" class="form-control">
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="control-label" for="submit"></label>

              <div class="col-md-offset-3 col-md-7">
                <button id="profile-submit" name="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <!-- USERS -->
      <div id="panel-users" class="panel menu-panel">
        <table class="table table-hover">
          <thead>
          <th>Name</th>
          <th>Last Logged In</th>
          <th>Customers</th>
          <th>Status</th>
          <th>Email</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <!-- DASHBOARD -->
      <div id="panel-dashboard" class="panel menu-panel ">
        <div id="menu-dashboard">
          <ul class="nav nav-pills nav-justified">
            <li id="pill-now"><a>Now</a></li>
            <li id="pill-trends"><a>Trends</a></li>
          </ul>
        </div>

        <!-- DASHBOARD-NOW -->
        <div id="panel-now" class="panel dashboard-menu-panel col-md-12">
          <ol id="statistics-now">
            <li count="7">Current Customers Online</li>
            <li count="3">Current Customers in Queue</li>
            <li count="4">Current Conversation Count</li>
            <li count="2">Total Missed Conversations Today</li>
            <li count="11">Agents Online Today</li>
            <li count="17">Total Agents</li>
            <li count="64">Total Conversations Today</li>
            <li count="11">Avg Wait Time Today (seconds)</li>
            <li count="94">Avg Session Duration Today (seconds)</li>
          </ol>
        </div>

        <!-- DASHBOARD-TRENDS -->
        <div id="panel-trends" class="panel dashboard-menu-panel col-md-12">
          Graphs go here.
        </div>
      </div>

      <!-- SETTINGS -->
      <div id="panel-settings" class="panel menu-panel col-md-12">
        <div id="starting-div" class="row">
          <h4>Copy this into the body of your pages:</h4>
      <pre class="Source">
&lt;script src=&quot;http://quinstantly.com/webtab.js&quot;&gt;
      </pre>
          <h4>or pull this <a>library</a> into your iPhone code</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDEBAR -->
  <div class="col-md-2">
    <div id="right-sidebar" class="panel">
      <div id='availability-widget' class='agent col-md-offset-1 col-md-1'>
        <button type='button' id='availability-button' class='btn btn-success dropdown-toggle' data-toggle='dropdown'>
          <span id='availability-button-label'>xxx</span>
          <span class='caret'></span>
        </button>
        <ul class='dropdown-menu' role='menu'>
          <li><a id='logout-action'>Logout</a></li>
          <li><a id='online-action'>Go Online</a></li>
          <li><a id='offline-action'>Go Offline</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <button type='button' id='demo-button' class='btn'>
          Off
        </button>
      </div>
    </div>
  </div>

</div>


<!-- SIGN IN -->
<div id="signin">
  <div class="row">
    <input id="email" class="col-md-offset-4 col-md-4" type="text" placeholder="Email"/>
  </div>
  <div class="row passwords" id="password-div">
    <input id="password" class="col-md-offset-4 col-md-4" type="password" placeholder="Password"/>
  </div>
  <div class="row" id="signin-button-div">
    <button class="col-md-offset-4 col-md-4 btn btn-large btn-primary" id="signin-button" disabled="disabled">
      SIGN IN
    </button>
  </div>
  <div class="row col-md-offset-4 col-md-4 the-big-or">
    OR
  </div>
  <div class="row">
    <button class="col-md-offset-4 col-md-4 btn btn-large btn-primary" id="show-signup-button">
      SIGN UP
    </button>
  </div>
  <div class="row" id="signin-spinner">
    <i class="col-md-offset-4 col-md-4 icon-spinner icon-spin icon-large"></i>
  </div>
</div>

<!-- SIGN UP -->
<div id="signup">
  <div class="row">
    <input id="email-new" class="col-md-offset-4 col-md-4" type="text" placeholder="Email"/>
  </div>
  <div class="row passwords">
    <input id="password-new" class="col-md-offset-4 col-md-4" type="password" placeholder="Password"/>
  </div>
  <div class="row passwords">
    <input id="password-confirm" class="col-md-offset-4 col-md-4" type="password" placeholder="Password"/>
  </div>
  <div class="row" id="signup-button-div">
    <button class="col-md-offset-4 col-md-4 btn btn-large btn-primary" id="signup-button" disabled="disabled">
      SIGN UP
    </button>
  </div>
  <div class="row col-md-offset-4 col-md-4 the-big-or">
    OR
  </div>
  <div class="row">
    <button class="col-md-offset-4 col-md-4 btn btn-large btn-primary" id="show-signin-button">
      SIGN IN
    </button>
  </div>
  <div class="row" id="signup-spinner">
    <i class="icon-spinner icon-spin icon-large col-md-offset-6 col-md-3"></i>
  </div>
</div>

</div>
</body>
</html>