<div class="message-soapbox">
  <div id="submit-button-div">
    <table id="post-bar">
      <tbody>
      <tr>
        <td>
          <div class="textwrapper">
            <textarea rows="3"></textarea>
          </div>
        </td>
        <td>
          <button id="upload-button">
            <img src="/assets/paperclip.png" width="16" height="16"/>
          </button>
        </td>
        <td>
          <input id="send-message-button" type="submit" value="Send"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>