<!DOCTYPE html>
<html>
<body class="chat">

<div id="top-bar" class="top-bar">
  <div id="welcome-container">
    <span id="welcome-message">
        Welcome to replyCycle!
        <label>Enter your name:</label>
        <input type="text" id="username" value="Jerry"/>
        <label>Enter your agent ID:</label>
        <input type="text" id="agent-id" value=""/>
        <label>Enter your conversation ID:</label>
        <input type="text" id="conversation-id" value=""/>
    </span>
  </div>
</div>
<div id="agent-bar">
  <ul id="agent-list">
  </ul>
</div>
<div id="main-chat">
  <div id="chat-div">
    <table id="chat-table">
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="input-div">
    <form name="messageForm" onsubmit="Chat.sendMessage(); return false;">
      <table width="100%" cellspacing="0">
        <tbody>
        <tr>
          <td>
            <div class="textwrapper">
              <textarea autocomplete="off" id="message-textarea">lorem ipsum</textarea>
            </div>
          </td>
          <td width="1%">
            <button class="silver" id="upload-button">
              <img src="/upload_button.png" width="16" height="16"/>
            </button>
          </td>
          <td width="1%">
            <input class="silver" id="post-button" type="submit" value="Send">
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

</body>
</html>