<!DOCTYPE html>
<html lang="en">
<title>ReplyStyle</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="chat-div">
  <table id="chat-table" class="table-condensed">
    <tbody id="messages-body">
    <%= render :partial => 'conversations/conversation', locals: {sample: false, conv: @conversation} if @conversation %>
    <%= render :partial => 'conversations/message', locals: {sample: true} %>
    </tbody>
  </table>
  <%= render :partial => 'conversations/soapbox' %>
</div>

</body>
</html>