// Agent Bar
#agent-bar {
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: #313949;
  overflow: auto;
}
#agent-list, ul {
  list-style-type: square;
  margin: 15px;
  padding: 0;
}

#agent-list, li {
  color: #fff;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

#agent-list, li:last-child {
  border: none;
}

.agent-block {
  color: yellow;
}

.engaged-agent-block {
  color: white;
  background-color: lightskyblue;
}

.targeted-agent-block {
  color: blue;
  background-color: white;
}