/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
    display: block;
    height: 100%;
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 13px;
}

input[type=submit], input[type=button], button {
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: 1px solid #2765a3;
    border-top-color: #407bb6;
    border-bottom-color: #17487c;
    cursor: pointer;
    padding: 3px 10px;
    vertical-align: top;
    font-size: 12px;
    height: 25px;
    font-family: "Lucida Grande",arial,sans-serif;
}

input[type=submit].silver {
    border: 1px solid #AAABAB;
    color: #333;
}