/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    background: url("/assets/questionmark.jpg");
    background-size: 380px;
    background-repeat: no-repeat;
    overflow: hidden;
}