#customer-main {
  #greeting {
    span {
      font-family: "brandon-grotesque", sans-serif;
      text-transform: uppercase;
    }
  }
  #username {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  #question {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  #submit-button {
    margin-top: 3px;
  }
}

#chat-table-div {
  display: none;
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  #chat-table {
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    td {
      padding: 8px;
      border-bottom: 1px solid #fff;
      vertical-align: middle;
      color: #669;
      border-top: 1px solid #fff;
      background: #e8edff url('/assets/gradback.png') repeat-x;
    }
    tr td {
      background: #e8edff;
      font-size: 12px;
      color: #99c;
    }
    tbody tr:hover td {
      background: #d0dafd url('/assets/gradhover.png') repeat-x;
      color: #339;
    }
  }
  textarea {
    padding: none;
    border-width: 2px;
    border-style: outset;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

#post-bar {
  border-collapse: collapse;
  border-color: gray;
  padding: 0px;
  textarea {
    height: 35px;
    width: 100%;
    border: none;
    padding: 0;
    font-size: 12px;
  }
  td {
    width: 100%;
  }
  .textwrapper {
    border: 1px solid #9d9d9d;
    padding: 5px;
    background-color: #fff;
  }
  #upload-button {
    background: #6f6f6f url(/assets/big_background.png) repeat-x;
    height: 49px;
    margin-left: -1px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #AAABAB;
    color: #333;
  }
  #send-message-button {
    background: #6f6f6f url(/assets/big_background.png) repeat-x;
    padding: 0 13px;
    height: 49px;
    border: 1px solid #AAABAB;
    color: #333;
  }
}
