$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #888850;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

html {
  //background: url(brickwall.jpg) no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;

  #header {
    margin-top: 15px;
    h1 {
      margin-top: 0px;
      margin-bottom: 25px;
      padding: 0px;
      font-family: 'Allerta Stencil', sans-serif;
      //font-family: 'Roboto', sans-serif;

      text-align: center;
      font-size: 75px;
      color: $colorHeaderText;
      font-weight: 900;
    }

    #signout {
      vertical-align: center;
    }

    #availability-widget {
      padding-right: 5px;
    }
  }

  body {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    background-color: $colorBodyBackground;
    overflow: hidden;
  }
}

label {
  color: $colorBodyBackground;
}

.menu-panel {
  display: none;
  border-width: 6px;
  height: 400px;
  padding: 0px;
  table {
    width: 100%;
  }
}

#tenant-main {
  .flash .error, .flash .alert {
    border: 1px solid #fbb;
    background-color: #fdd;
  }

  #menu-main {
    display: none;
    margin-bottom: 12px;
    .nav-pills {
      li {
        a {
          color: white;
        }
        a:hover, a:focus {
          color: black;
          background-color: $colorActivePillBackground;
        }
      }

      li.active {
        a {
          color: black;
          background-color: $colorActivePillBackground;
        }
      }
    }
  }

  .the-big-or {
    color: orange;
    font-size: 36px;
    text-align: center;
  }

  #signin {
    display: none;

    #signin-spinner {
      display: none;
      text-align: center;
    }
    #email {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    #password {
      margin-bottom: 6px;
    }
  }

  #signup {
    display: none;

    #signup-spinner {
      display: none;
      text-align: center;
    }
    #email-new {
      margin-bottom: 6px;
    }
    #password-new {
      margin-bottom: 6px;
    }
    #password-confirm {
      margin-bottom: 6px;
    }
    #signup-button-div {
      margin-bottom: 6px;
    }
  }
}