$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #888850;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

html {
  //background: url(brickwall.jpg) no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;

  #header {
    margin-top: 15px;
    h1 {
      margin-top: 0px;
      margin-bottom: 25px;
      padding: 0px;
      font-family: 'Allerta Stencil', sans-serif;
      //font-family: 'Roboto', sans-serif;

      text-align: center;
      font-size: 75px;
      color: $colorHeaderText;
      font-weight: 900;
    }

    #signout {
      vertical-align: center;
    }

    #availability-widget {
      padding-right: 5px;
      #availability-button {
        display: none;
      }
    }

    #demo-button {
      display: none;
      width: 100px;
    }
  }

  body {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    background-color: $colorBodyBackground;
    overflow: hidden;
  }
}

label {
  color: $colorBodyBackground;
}

.menu-panel {
  display: none;
  border-width: 6px;
  height: 400px;
  padding: 0px;
  table {
    width: 100%;
  }
}

#tenant-main {
  .flash .error, .flash .alert {
    border: 1px solid #fbb;
    background-color: #fdd;
  }

  #search {
    //width: 100%;
    form {
      width:900px;
      margin:0 auto;
    }
    .search {
      padding:6px 15px 6px 30px;
      margin:3px;
      background: url('./images/search.png') no-repeat 8px 6px;
    }
    .light {
      width:95%;
      height:50px;
      padding:40px 25px;
      background: url('./images/light_grey.jpg');
      input[type=text]{
        border:1px solid #acb1b7;
        background-color:#fcfcfc;
      }
    }
    .rounded {
      border-radius:15px;
      -moz-border-radius:15px;
      -webkit-border-radius:15px;
    }
    input[type=text]{
      color:#bcbcbc;
    }
    input[type=button], input[type=button]:hover {
      position:relative;
      left:-6px;
      border:1px solid #adc5cf;
      background: #e4f1f9; /* Old browsers */
      background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
      background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
      color:#7da2aa;
      cursor: pointer;
    }
  }

  #menu-main {
    display: none;
    margin-bottom: 12px;
    .nav-pills {
      li {
        a {
          color: white;
        }
        a:hover, a:focus {
          color: black;
          background-color: $colorActivePillBackground;
        }
      }

      li.active {
        a {
          color: black;
          background-color: $colorActivePillBackground;
        }
      }
    }
  }

  .the-big-or {
    color: orange;
    font-size: 36px;
    text-align: center;
  }

  #signin {
    display: none;

    #signin-spinner {
      display: none;
      text-align: center;
    }
    #email {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    #password {
      margin-bottom: 6px;
    }
  }

  #signup {
    display: none;

    #signup-spinner {
      display: none;
      text-align: center;
    }
    #email-new {
      margin-bottom: 6px;
    }
    #password-new {
      margin-bottom: 6px;
    }
    #password-confirm {
      margin-bottom: 6px;
    }
    #signup-button-div {
      margin-bottom: 6px;
    }
  }
}