$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #10ccff;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

html {
  body {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    background-color: $colorBodyBackground;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }

  label {
    color: $colorBodyBackground;
  }

  #tenant-main {
    .flash .error, .flash .alert {
      border: 1px solid #fbb;
      background-color: #fdd;
    }

    #big-row {
      #left-sidebar, #right-sidebar {
        -moz-border-radius: 35px;
        border-radius: 35px;
        height: 623px;
        background-color: white;
      }

      #left-sidebar {
        margin-left: 13px;

        h1 {
          font-family: 'Allerta Stencil', sans-serif;
          padding-left: 70px;
          padding-bottom: 10px;
          font-size: 90px;
          color: #5bc0de;
          //color: $colorHeaderText;
          font-weight: 900;
          -webkit-transform: rotate(-270deg);
          -moz-transform: rotate(-270deg);
          -ms-transform: rotate(-270deg);
          -o-transform: rotate(-270deg);
          transform: rotate(-270deg);

          /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;

          /* Should be unset in IE9+ I think. */
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
      }

      #right-sidebar {
        z-index: 3;
        margin-right: 10px;
        #availability-widget {
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 50px;
          margin-bottom: 3px;
          padding: 6px;
          #availability-button {
            width: 100%;
          }
        }
        #demo-widget {
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 3px;
          margin-bottom: 3px;
          padding: 6px;
          #demo-button {
            width: 100%;
          }
        }
      }

      .menu-panel {
        display: none;
        border-width: 4px;
        height: 519px;
        padding: 3px;
        table {
          width: 100%;
        }
      }

      #middle-column {
        padding-left: 5px;
        padding-right: 5px;
      }

      #menu-main {
        display: none;
        margin-bottom: 12px;
        .nav-pills {
          li {
            a {
              color: white;
            }
            a:hover, a:focus {
              color: black;
              background-color: $colorActivePillBackground;
            }
          }

          li.active {
            a {
              color: black;
              background-color: $colorActivePillBackground;
            }
          }
        }
      }
    }

    .the-big-or {
      color: orange;
      font-size: 36px;
      text-align: center;
    }

    #signin {
      display: none;

      #signin-spinner {
        display: none;
        text-align: center;
      }
      #email {
        margin-top: 6px;
        margin-bottom: 6px;
        width: 100%;
      }
      #password {
        margin-bottom: 6px;
        width: 100%;
      }
      #signin-button {
        width: 100%;
      }
      #show-signup-button {
        width: 100%;
      }
    }

    #signup {
      display: none;

      #signup-spinner {
        display: none;
        text-align: center;
      }
      #email-new {
        margin-bottom: 6px;
        width: 100%;
      }
      #password-new {
        margin-bottom: 6px;
        width: 100%;
      }
      #password-confirm {
        margin-bottom: 6px;
        width: 100%;
      }
      #signup-button {
        width: 100%;
      }
      #show-signin-button {
        width: 100%;
      }
      #signup-button-div {
        margin-bottom: 6px;
      }
    }
  }
}
