$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #888850;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

.dashboard-menu-panel {
  display: none;
  border-width: 0px;
  overflow: auto;
}

#panel-dashboard {
  overflow: hidden;
  #menu-dashboard {
    display: none;
    overflow: hidden;
    padding: 5px;
    .nav-pills {
      li {
        a {
          color: white;
        }
        a:hover, a:focus {
          color: black;
          background-color: $colorActivePillBackground;
        }
      }

      li.active {
        a {
          color: white;
          background-color: $colorActivePillBackground;
        }
      }
    }
  }
}