$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #888850;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

#panel-profile {
  #profile-name-div {
    margin-top: 20px;
  }
}