$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #888850;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

#panel-settings {
  #starting-div {
    padding-left: 15px;
    padding-right: 15px;
  }
}