$colorHeaderText: #FFFEB4;
$colorBodyBackground: black;
$colorPanelBackground: #888850;
$colorPillBackground: black;
$colorPillText: white;
$colorActivePillBackground: #FFFEB4;
$colorActivePillText: black;
$colorChatBackground: white;

#panel-users {
  height: 400px;
  overflow: scroll;
  td.available {
    color: white;
  }
  td.engaged {
    color: green;
  }
  td.unavailable {
    color: gray;
  }
  td.nonresponsive {
    color: red;
  }}

