$white: #FFFFFF;

// Plain
//$color1: #D74B4B;
//$color2: #DCDDD8;
//$color3: #475F77;
//$color4: #354B5E;

// $color1 - Header text
// $color2 - Background
// $color3 - Active Highlight
// $color4 -
// Japanese Art
$color1: #FFB88C;
$color2: #777755;
$color3: #CCB287;
$color4: #A69055;
$color5: #2D2B21;

#panel-questions {
  height: 400px;
  overflow: scroll;
  .author-display-name {
    color: green;
  }
  table {
    tr[message-count="1"] {
      background-color: red;
    }
    col.customer {
      width: 10%;
    }
    col.agent {
      width: 10%;
    }
    col.spacer {
      width: 80%;
    }
    table.details {
      width: 100%;
      col.message-author {
        width: 10%;
      }
      col.message-text {
        width: 80;
      }
      col.message-timestamp {
        width: 10%;
      }
      .message-author-agent {
        color: green;
      }
      .message-author-customer {
        color: blue;
      }
    }
  }
}
