$white: #FFFFFF;

// Plain
//$color1: #D74B4B;
//$color2: #DCDDD8;
//$color3: #475F77;
//$color4: #354B5E;

// $color1 - Header text
// $color2 - Background
// $color3 - Active Highlight
// $color4 -
// Japanese Art
$color1: #FFB88C;
$color2: #777755;
$color3: #CCB287;
$color4: #A69055;
$color5: #2D2B21;

#panel-questions {
  overflow: scroll;
  .conversation-summary {
    color: $white;
  }
  .agent {
    color: green;
  }
  .customer {
    color: blue;
  }
  #conversation-template, #message-template {
    display: none
  }
  #message-table {
    width: 100%;
    border-bottom: 5px;
    border-color: rgb(128, 128, 128);
    padding-left: 10px;
    col {
      &.message-author {
        width: 10%;
      }
      &.message-text {
        width: 80%;
      }
      &.message-created-at {
        width: 10%;
      }
    }
    .message-author-agent {
      color: green;
      text-align: right;
    }
    .message-author-customer {
      color: blue;
      text-align: right;
    }
    .message-summary {
      cursor: pointer;
      background-color: $color3;
      transition: background-color 1600ms ease;
      td {
        border-width: 3px;
        border-style: groove;
      }
      &.complete {
        background-color: $white;
      }
    }

  }
}
