#tenant-main {
  #login {
    span {
      text-transform: uppercase;
    }
    .flash .error, .flash .alert {
      border: 1px solid #fbb;
      background-color: #fdd;
    }
    i {
      text-align: center;
    }
    #signin-spinner,#signup-spinner {
      display: none;
    }
    #email {
      margin-top: 50px;
      margin-bottom: 6px;
    }
    #password {
      margin-bottom: 6px;
    }
    #signin-button-div {
      margin-bottom: 30px;
    }
    #signin-spinner {
      text-align: center;
    }
    #email-new {
      margin-bottom: 6px;
    }
    #password-new {
      margin-bottom: 6px;
    }
    #password-confirm {
      margin-bottom: 6px;
    }
    #signup-button-div {
      margin-bottom: 6px;
    }
    #signup-spinner {
      text-align: center;
    }
  }
}