#tenant-main {
  .flash .error, .flash .alert {
    border: 1px solid #fbb;
    background-color: #fdd;
  }
  #menu {
    display: none;
    margin-top: 50px;
  }

  #signin {
    display: none;

    //span {
    //  text-transform: uppercase;
    //}
    //i {
    //  text-align: center;
    //}
    #signin-spinner {
      display: none;
      text-align: center;
    }
    #email {
      margin-top: 50px;
      margin-bottom: 6px;
    }
    #password {
      margin-bottom: 6px;
    }
    #signin-button-div {
      margin-bottom: 30px;
    }
  }

  #signup {
    display: none;

    #signup-spinner {
      display: none;
      text-align: center;
    }
    #email-new {
      margin-bottom: 6px;
    }
    #password-new {
      margin-bottom: 6px;
    }
    #password-confirm {
      margin-bottom: 6px;
    }
    #signup-button-div {
      margin-bottom: 6px;
    }
  }
}